doctype html
html
  head
    title Elegant Dance Academy
    block scripts
    block style 
  body
    nav#navbar 
        ul
            div#logo 
                img(src="../static/img/logo3.png", alt="")
                |  EDA
            li #[a(href="/") Home ]
            li #[a(href="/about") About Us]
            li #[a(href="/") Servics] 
            li #[a(href="/") Team] 
            li #[a(href="/contact") Contact Us]

    block content
    footer#footer 
        |  CopyRight © 2023 Elegant Dance Academy.com. All right reserved
    